/* html,
body {
  overflow-x: hidden !important;
} */

.about {
  overflow-x: hidden !important;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.267);
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}

.about_container {
  margin-bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__description {
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  font-size: clamp(15px, 1vw, 15px);
}

.profile_pic_wrapper {
  font-family: 'Tebucher MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: center;
  max-width: 450px;
  box-shadow: 0 0 50px rgba(235, 63, 129, 0.9);
  padding: 20px;
  background: rgba(12, 6, 6, 0.404);
}

.profile__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
}

.profile__name {
  font-size: 2.2em;
  font-weight: bold;
}

.profile__title {
  margin: 20px;
  font-size: 1.3em;
}

.profile__details {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.complement {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media only screen and (max-width: 1167px) {
  .profile__image {
    width: 75px;
    height: 75px;
  }

  .profile_pic_wrapper {
    max-width: 250px;
    max-height: 205px;
  }

  .profile__name {
    font-size: 1em;
    font-weight: bold;
  }

  .profile__title {
    margin: 6px;
    font-size: 0.8em;
  }

  .profile__details {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
  }

  .about__description {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 996px) {
  .about__description {
    font-size: 8px;
    text-align: justify;
  }
}

@media only screen and (max-height: 826px) {
  .profile__image {
    width: 105px;
    height: 105px;
  }

  .profile_pic_wrapper {
    max-width: 250px;
    max-height: 250px;
  }

  .about__description h1 {
    font-size: 25px;
  }

  .profile__name {
    font-size: 1em;
    font-weight: bold;
  }

  .profile__title {
    margin: 6px;
    font-size: 0.8em;
  }

  .profile__details {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
  }
}

@media only screen and (max-height: 740px) {
  .profile__image {
    width: 75px;
    height: 75px;
  }

  .profile_pic_wrapper {
    max-width: 250px;
    max-height: 250px;
  }

  .about__description h1 {
    font-size: 15px;
  }

  .profile__name {
    font-size: 1em;
    font-weight: bold;
  }

  .profile__title {
    margin: 6px;
    font-size: 0.8em;
  }

  .profile__details {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
  }
}

@media only screen and (max-height: 570px) {
  .profile__image {
    width: 75px;
    height: 75px;
  }

  .profile_pic_wrapper {
    max-width: 250px;
    max-height: 250px;
  }

  .about__description h1 {
    margin-top: -80px;
    font-size: 15px;
  }

  .profile__name {
    font-size: 1em;
    font-weight: bold;
  }

  .profile__title {
    margin: 6px;
    font-size: 0.8em;
  }

  .profile__details {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
  }

  .container p {
    margin-top: 200px;
  }

  .container2 p {
    margin-top: 200px;
  }
}
