.project-container-timer {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.42);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  object-fit: contain;
}

.project_pic {
  margin-top: 50px;
  height: 200px;
  width: 200px;
  margin-left: 250px;
  margin-right: 100px;
}

.project-container-timer > p {
  color: #fff;
  margin-top: 20px;
  font-size: clamp(15px, 1vw, 25px);
  font-family: 'Tebucher MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-right: 225px;
  margin-left: 225px;
  text-shadow: 2px 2px 2px #3e149e;
}

.repository_link {
  margin-top: 8px;
  color: #fff;
  font-size: 30px;
  font-family: 'Tebucher MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-right: 225px;
  margin-left: 500px;
}

@media screen and (max-width: 860px) {
  .project-container-timer > p {
    font-size: 15px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 360px) {
  .project-container-timer > p {
    margin-top: 70px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 414px) {
  .pic-container {
    display: none;
  }
}

@media screen and (max-height: 568px) {
  .project-container-timer {
    height: 145vh;
  }
}
