.project-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.651);
  object-fit: contain;
}

.project-container > p {
  color: #fff;
  margin-top: 20px;
  font-size: clamp(15px, 1vw, 25px);
  font-family: 'Tebucher MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-right: 225px;
  margin-left: 225px;
}

.pic-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.repository_link {
  margin-top: 8px;
  color: #fff;
  font-size: 30px;
  font-family: 'Tebucher MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-right: 225px;
  margin-left: 500px;
}

@media screen and (max-width: 640px) {
}
